.twitterNewsOption {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.twitterNewsOptionLeft {
  display: flex;
  flex-direction: row;
}
.twitterNewsOptionLeftInfo {
  margin-left: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.twitterNewsOptionLeftInfo > h4 {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #0f1419;
}
.twitterNewsOptionLeftInfo > h4 > img,
.twitterNewsOptionRight > img {
  height: 25px;
  width: 25px;
}
.twitterNewsOptionLeftInfo > p {
  margin-left: -49px;
  font-size: 15px;
  font-weight: 400;
  color: #536471;
}
