.table {
  overflow: scroll;
  height: inherit;
  color: #6a5d5d;
  text-align: left;
  table-layout: fixed;
}
.table::-webkit-scrollbar {
  display: none;
}

.table td,
th {
  padding: 0.5rem;
  vertical-align: middle !important;
  text-align: center;
}
.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

th {
  text-align: center !important;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  background-color: white;
}
