@media (max-width: 768px) {
  .countryList {
    padding-top: 20px;
    height: 50vh !important;
    margin-bottom: 40px !important;
  }
}
.countryList {
  padding-top: 20px;
  height: 1080px;
  display: flex;
  flex-direction: column;
}
/* table {
  width: 400px;
} */
/* .countryList > img {
  height: 100px;
  width: 600px;
} */

.countryList__ad {
  display: flex;
  justify-content: center;
}
.countryList__ad > img {
  height: 100px;
  width: 500px;
}
table {
  margin-left: 10px;
}
