.mainPanel {
  display: flex;
  flex-direction: column;
  border-right: 1 solid red;
}

.mainPanel__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mainPanel__top > img {
  height: 10vh;
  object-fit: contain;
  cursor: pointer;
  flex: 0.3;
}

.mainPanel__search {
  height: 5vh;
  display: flex;
  align-items: center;
  flex: 0.2;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  border-radius: 50px;
}

.mainPanel__search > .MuiSvgIcon-root {
  color: gray;
}

.mainPanel__search > input {
  border: none;
  width: 150px;
  min-width: 150px;
  padding: 10px;
  outline-width: 0;
  font-size: medium;
  background-color: transparent;
}

.mainPanel__mid {
  display: flex;
  flex: 1;
  height: 30px;
  width: 50px;
  border-radius: 1px red solid;
}

.mainPanel__bottom {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.mainPanel__bottomTop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
}

.mainPanel__bottomDown {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mainPanel__bottomLeft {
  margin-right: 10px;
}
.card {
  width: 350px;
}

.mainPanel__detail {
  text-align: left;
  height: auto;
}

.mainPanel__region {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(222, 136, 44);
  font-size: 32px;
  font-weight: 500;
}

.mainPanel__region > .MuiSvgIcon-root {
  color: rgb(222, 136, 44) !important;
  height: 35px !important;
  width: 35px !important;
}
.mainPanel__stat {
  margin-bottom: 100px !important;
}
.mainPanel__stat > div {
  font-size: 16px;
  color: #212529;
  font-weight: 300;
}
